@import url('https://fonts.cdnfonts.com/css/mrrobot');

@keyframes rgbEffect {
    0% {
        text-shadow: 1px 1px 20px lime;
    }
    10% {
        text-shadow: 1px 1px 20px yellow;
    }
    20% {
        text-shadow: 1px 1px 20px orange;
    }
    30% {
        text-shadow: 1px 1px 20px rgb(255, 0, 221);
    }
    40% {
        text-shadow: 1px 1px 20px purple;
    }
    50% {
        text-shadow: 1px 1px 20px blue;
    }
    60% {
        text-shadow: 1px 1px 20px purple;
    }
    70% {
        text-shadow: 1px 1px 20px rgb(255, 0, 242);
    }
    80% {
        text-shadow: 1px 1px 20px orange;
    }
    90% {
        text-shadow: 1px 1px 20px yellow;
    }
    100% {
        text-shadow: 1px 1px 20px lime;
    }
}

@keyframes pulse {
    0% {
        text-shadow: 1px 1px 20px rgb(255, 60, 0);
    }
    
    50% {
        text-shadow: 1px 1px 20px rgb(90, 0, 0);
    }
    
    100% {
        text-shadow: 1px 1px 20px rgb(255, 60, 0);
    }
    
}

@keyframes fadein {
    from {
        opacity: 0.5;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }    
}

/* General body font */
body {
    font-family: 'Chakra Petch', sans-serif; /* Apply Chakra Petch font for body text */
    background-color: black;
    color: whitesmoke;
    text-shadow: 1px 1px 10px rgba(62, 169, 62, 0.6);  
}

.name-container {
    font-family: 'MrRobot', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}


.name{
    font-size: 350px;
    font-weight: 500;
    margin: 120px;
    margin-top: 130px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
    text-shadow: 1px 1px 50px lime;  
    color: #ff0202;
}

.name {
    animation: pulse 6s infinite; 
}

h2, h3 {
    animation: rgbEffect 5s infinite; 
}


/* Other heading styles */
h2 {
    font-family: 'Chakra Petch', sans-serif; /* Use Chakra Petch for other headings */
    font-size: 150px;
    margin: 25px;
}

h3 {
    font-family: 'Chakra Petch', sans-serif; /* Use Chakra Petch for other headings */
    font-size: 60px;
    margin: 25px;
}

p {
    font-size: 50px;
    line-height: 1.5;
    margin: 25px;
}

a {
    font-size: 40px;
    line-height: 1.5;
    margin: 25px;
}

ul {
    font-size: 30px;
    line-height: 1.5;
    margin: 25px;
}
li {
    font-size: 50px;
    line-height: 1.5;
    margin: 25px;
}

.spacing{
    padding: 50px;
    margin: 50px;
    color: black;
}

.sh-spacing{
    padding: 25px;
    margin: 25px;
    color: black;
}

@media (max-width: 768px) {
    .name {
        font-size: 100px;
        margin: auto;
        margin-top: 100px;
    }
    h2 {
        font-size: 80px;
    }
    h3 {
        font-size: 40px;
    }
    p, a, ul, li {
        font-size: 30px;
    }
}

h1, h2, h3, p, a, ul, li {
    animation: fadein;
    animation-timeline: view();
}
.header
{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
}