@import url('https://fonts.cdnfonts.com/css/mrrobot');

@keyframes rgbEffect {
    0% {
        text-shadow: 1px 1px 20px lime;
    }
    10% {
        text-shadow: 1px 1px 20px yellow;
    }
    20% {
        text-shadow: 1px 1px 20px orange;
    }
    30% {
        text-shadow: 1px 1px 20px rgb(255, 0, 221);
    }
    40% {
        text-shadow: 1px 1px 20px purple;
    }
    50% {
        text-shadow: 1px 1px 20px blue;
    }
    60% {
        text-shadow: 1px 1px 20px purple;
    }
    70% {
        text-shadow: 1px 1px 20px rgb(255, 0, 242);
    }
    80% {
        text-shadow: 1px 1px 20px orange;
    }
    90% {
        text-shadow: 1px 1px 20px yellow;
    }
    100% {
        text-shadow: 1px 1px 20px lime;
    }
}

/* General body font */
body {
    font-family: 'Chakra Petch', sans-serif; /* Apply Chakra Petch font for body text */
    background-color: rgba(0, 0, 0, 0.966);
    color: whitesmoke;
    text-shadow: 1px 1px 10px rgba(62, 169, 62, 0.6);  
}

.name-container {
    font-family: 'MrRobot', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}


.name{
    font-size: 350px;
    font-weight: 500;
    margin: 120px;
    margin-top: 150px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
    text-shadow: 1px 1px 20px lime;  
    color: #ff0202;
}

.name {
    animation: rgbEffect 5s infinite; 
}

h2 {
    animation: rgbEffect 5s infinite; 
}


/* Other heading styles */
h2, h3 {
    font-family: 'Chakra Petch', sans-serif; /* Use Chakra Petch for other headings */
    font-size: 50px;
}
